<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get and manipulate data with a visual programming interface.">
    <title>Pipes</title>
    
    <link rel="stylesheet" href="/node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/node_modules/purecss/build/grids-responsive-min.css">

    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" async defer src="/wa-mediabox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/wa-mediabox.min.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
<body>

<header>
    <%= erb :nav, :locals => {:current => 'index'} %>
</header>

<main class="splash-container">
    <div class="splash">
        <h1 class="splash-head">pipes.digital CE</h1>
        <p class="splash-subhead">
            Get and manipulate data from the web by connecting blocks
        </p>
        <p>
            <a href="/editor" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
    <img id="scrollSignal" aria-hidden="true" src="/icons/arrow-down.svg"></img>
</main>

<section class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">A local way to work with data.</h2>

        <div class="pure-g arguments">
            <div class="l-box pure-u-1 pure-u-md-2-2 pure-u-lg-4-4">

                <h3 class="content-subhead">
                    The Open Source Edition
                </h3>
                <p>
                    This is the free Community Edition of pipes.digital. Find more information at <a href="https://github.com/pipes-digital/pipes">its Github-Repository</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/node_modules/@iconfu/svg-inject/dist/svg-inject.min.js"></script>
<script>SVGInject(document.querySelectorAll('img[src$=".svg"]'));</script>
</body>
</html>
